@charset "utf-8";

.Menubar {
    height: 55px;
    border-bottom: 2px solid #e2e2e2;
    text-align: center;
    overflow: hidden;
}

.Menubar .m_title a {
    float: left;
    margin-top: 11px
}

.Menubar .m_title h2 {
    height: 55px;
    line-height: 55px;
    font-size: 15px;
    font-weight: bold;
}

.vis {
    height: 250px;
    text-align: center;
    overflow: hidden;
margin-bottom: 20px
}

.vis img {
    margin-top: 30px;
    width:200px;
}

.contents {
    position: relative;
 
}

.contents .Buybutton {
    text-align: center;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}

.contents .Buybutton h3:nth-child(1) {
    width: 30%;
    background: #4a4a4a;
    color: #fff;
    padding: 10px 0px;
    display: block;
    float: left;
    margin-left: 20%;
    

}

.contents .Buybutton h3:nth-child(2) {
    width: 30%;
    background: #88c626;
    color: #fff;
     padding: 10px 2px;
    display: block;
    float: right;
    margin-right: 17%;

}
.contents .icon_list ul{
   overflow: hidden;
    width: 100%;
    position: 
}
.contents .icon_list ul li img{
  width: 27px;

}

.contents .icon_list ul li{
display: inline-block;
    text-align: center;
    float:left;
 
}
.contents .icon_list ul li:nth-child(1){
    width: 25%;
    float: left;
}
.contents .icon_list ul li:nth-child(2){
    float: left;
        width: 25%;
    margin-top: 5px;
}
.contents .icon_list ul li:nth-child(3){
    float:left;
        width: 25%;
}
.contents .icon_list ul li:nth-child(4){
    float: left;
        width: 25%;
      margin-top: 5px;
}
.contents .icon_list ul li span{
    display: block;
    
}
.sub_head{
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 15px;
    height: 153px;

}
.sub_head .s_h_t{
 position: relative;
    width: 100%;
}
.sub_head .s_h_t h3{
    width: 20%;
    height: 50px;
    line-height: 50px;
    background: #eee;
    padding: 0 10%;
    text-align: center;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    display: block;
    float: left;

}

.sub_head .s_h_t p{
    width:60%;
    background: #fff;
    height:50px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    display: block;
    float: right;
    line-height: 50px;
}
.m_txt{
    padding: 5px;
}
.m_txt .m_txt_tite{
    margin-bottom: 10px;
}
.m_txt .m_txt_tite h3{
    font-size: 16px;
    margin-bottom: 5px
}
.m_txt .m_txt_tite p{
    margin-bottom: 15px
}
.m_txt .m_txt_tite h5{
    text-align: center;
    margin-bottom: 25px
}
.m_txt .m_txt_tite h6{
    margin-top: 30px;
 
}
.m_txt .m_txt_tite strong{
    padding: 10px 40px;
    border: 2px solid #dddddd;

    
}

/* sub1 */
.sub_body{
padding: 30px 20px;
}
.sub_body table .c1{
    width: 17%;
}
.sub_body table .c2{
    width: 24%;
}
.sub_body table .c3{
    width: 20%;
}
.sub_body table .c4{
    width: 39%;
}
.sub_body .txt{
    line-height: 1.5;
}
.data_t thead th{
    background: #ddd;
    width: 10%;
    color: #4d4d4d;
    height: 20px;
    line-height: 20px;
    border-top: 1px solid #4d4d4d;
    border-bottom: 1px #ddd;
}
.data_t tbody {
    border: #dedede;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #4d4d4d ;

   
    
    
}
.data_t tbody td:nth-child(1){
    background: #e5e5e5;
}
.data_t tbody td{
    padding: 3px 5px
}
.sub_body .data_t{
    margin-bottom: 15px;
}

/*회원가입*/
section .join_wrap{
    padding: 30px 20px;
}
section .join_wrap h2{
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
}
section .join_wrap .p_comment{
    color: #ee3524;
    font-size: 12px
}
section .join_wrap .join_c1 input{
    width: 100%;
    height: 25px;
}
section .join_wrap .join_c1 h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 45px;
}
section .join_wrap .join_c2{
    margin-bottom: 20px;
}
section .join_wrap .join_c2 .agree_b{
    padding-top: 10px
}
section .join_wrap .join_c2 .agree_t{
    overflow: hidden;
    font-size: 0.82em;
    padding-top: 10px
}
section .join_wrap .join_c2 .agree_t h3{
    float: left;
    color: #000;
}
section .join_wrap .join_c2 .agree_t a{
    float: right;
}
section .join_wrap .join_c2 .agree_m{
    height: 140px;
    border: 1px solid #d1d1d1;
    overflow: auto;
    padding: 20px 5px;
    font-size: 0.8em;
}
section .join_wrap .agree_b input[type=checkbox]{
    border: 1px solid #d1d1d1;
    width: 14px;
    height: 14px;
    -webkit-appearance:none;
    margin-right: 10px;
}

section .join_wrap .join_c3 table{
    border: 1px solid #dedfda;
    width: 100%;
}
section .join_wrap .join_c3 table .t_c1{
    width: 20%;
}
section .join_wrap .join_c3 table .t_c2{
    width: 30%;
}
section .join_wrap .join_c3 table .t_c3{
    width: 30%;
}
section .join_wrap .join_c3 table .t_c4{
    width: 20%;
}
section .join_wrap .join_c3 table thead th{
    font-weight: normal;
    padding: 10px 0;
    border-bottom: 1px solid #4d4d4d;
       background: #edededed;
    
}
section .join_wrap .join_c3 table tbody th{
    font-weight: normal;
    padding: 10px 8;
    background: #edededed;
      border-right: 1px solid #4d4d4d;
}
section .join_wrap .join_c3 table tbody tr{
    border-bottom: 1px solid #dedfda;
}
section .join_wrap .join_c3 table td{
    padding: 10px 5px;
}
section .join_wrap .join_c3 table td strong{
    font-weight: bold;
}
section .join_wrap .join_c3 .bt_style3{
    border: 2px solid #ee3524;
    background: #ee3524;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;

}

/*회원가입*/



